* {
	font-family: 'Nanum Gothic', sans-serif;
	margin: 0;
	padding: 0;	
	max-width: 100%;
}

html {
	font-size: 62.5%;
}

p, li {
	font-size: 1.7rem;
	line-height: 3rem;
}

a {
	text-decoration: none;
}



											/* FOOTER Y ENCABEZADOS GENERALES */

.encabezado {
	background-color: rgba(0,0,0,1);
}

    .textNav {
		display: block;
    	padding: 0.5rem 1.5rem;
    	color: #F3F3F3; 
    	text-decoration: none;
    	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
	}

	.textNav:hover {
    	color: #C1A924;
	}

/* -------------------------- */

footer {
	color:#C1A924;
	font-size: 1.3rem;
}

	.iconRedes {	
		height: 5rem;
		width: 5rem;
	}
	
	.h3Footer{
		font-size: 1.75rem;
		padding-bottom: 2rem;
	}

/* -------------------------- */
/* -------------------------- */

																/* INDEX */


				/* Estructura GENERAL con GRID */

.homeMadre {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header"
						 "main"
						 "footer";
}

	.Header {
		grid-area: header;
	}

	.homeMain {
		grid-area: main;
	}

	.Footer {
		grid-area: footer;
	}

/* -------------------------- */


				/* HEADER */

.imgIndex {
	height: 65vh;
	width: 100vw;
	max-width: 100%;
}

/* -------------------------- */


				/* MAIN */


.homeMain h2 {
	font-size: 2.9rem;
	text-align: center;
	padding: 3rem;
	text-transform: uppercase;
}

	.art1 {
		margin-bottom: 10rem;
	}

		.art1 .proDestacados {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}	

			.art1 h2 {
				margin: 6.5rem 0;
				background-color: #A5A3A3;
			}

			.art1 h3 {
				font-size: 2rem;
				text-align: center;
				margin: 2rem;
			}

			.art1 img {
				width: 22rem;
				height: 22rem;
			}
				div.categorias {
					text-align: center;
					margin-bottom: 4rem;
				}


	.art2 {
		background-color: #EBEBEB;
		display: flex;
		flex-direction: column;
		padding-bottom: 10rem;
	}
		
		.art2 h2 {
			margin: 6.5rem 0;
			background-color: #A5A3A3;
		}

		.art2 h3 {
			font-size: 2rem;
			background-color: #B5923E;
			color: #F7F5F5;
			border-radius: .5rem;
			padding: 0.5rem 0;	
			text-align: center;
			font-family: 'Montserrat', sans-serif;
		}

		.art2 .art2Container {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding-right: 5rem;
		}

			.art2 .servicioContainer {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

			.art2 .imgServicio img {
						width: 34vw;
						height: auto;
						border: 2px solid #404040;
			}

				.art2 .servicioContainer .servicio {
					width: 50%;
					margin: 3rem 4rem;
					padding: 2rem;
					box-sizing: border-box;
					border: solid 2px #404040;
					background-image: url(../img/fondo/dorado.webp);
					background-size: ;
					display:flex;
					flex-direction: column;
					box-shadow: 15px 10px 52px 6px rgba(102,87,38,0.3);
						-webkit-box-shadow: 15px 10px 52px 6px rgba(102,87,38,0.3);
						-moz-box-shadow: 15px 10px 52px 6px rgba(102,87,38,0.3);
				}

					.servicio li {
						list-style: circle;
						margin-left: 3rem;
					}




								
																/* TIENDA */


				/* Estructura GENERAL con GRID */

.tiendaMadre {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: auto;
	grid-template-areas: "header header header"
						"aside main div"
						"footer footer footer";
}

	.header {
		grid-area: header;
	}

	.tiendaMain {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}

	.asideTienda {
		grid-area: aside;
	}

	.divTienda {
		grid-area: div;
	}

/* ---------------------------- */


				/* MAIN de TIENDA */


.productos {
	display: flex;
	flex-flow: wrap row;
	justify-content: center;	
}

.borderCard {
	border: 2px solid black;
}

.tiendaMain h1 {
	font-size: 2.9rem;
	text-align: center;
	padding: 3rem;
	margin-bottom: 2rem;
	background-color: #4C4C4C;
	color: #FBF6D8;
	text-transform: uppercase;
}

.tiendaMain article {
	background-color: #E6E6E6;
	padding: 5rem 0; 
}

/* ---------------------------- */


				/* ASIDE de TIENDA */


.asideTienda {
	background-image: url(../img/asideTienda.png);
	background-size: cover;
}

.divTienda {
	background-image: url(../img/asideTienda.png);
	background-size: cover;
}

/* ---------------------------- */
/* ---------------------------- */


														/* PREGUNTAS FRECUENTES */


.faqMadre {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header"
						"main"
						"footer";
}

	.header {
		grid-area: header;
	}

	.faqMain {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}


				/* MAIN de PREGUNTAS FRECUENTES */

.faqMain {
	display: flex;
	justify-self: center;
	width: 80vw;
	padding: 4rem;
	background-color: #FAF5F5;
}

	.faqMain h2 {
		margin: 2rem;
		text-align: left;
		font-size: 2rem;
	}

	.faqMain div.border {
		padding: 2rem;
		border: 2px solid black;
		background-color: #807641;
		color: white;
		text-align: justify;
		margin-bottom: 5rem;
	}

	.faqMain h1{
		font-size: 2.9rem;
		padding: 3rem;
		text-transform: uppercase;
	}

/* ---------------------------- */
/* ---------------------------- */

													
													/* NOSOTROS */

				/* Estructura GENERAL con GRID */

.nosotrosMadre {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header header"
						"main aside"
						"footer footer";
}

	.header {
		grid-area: header;
	}

	.tiendaNosotros {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}

	.asideNosotros {
		grid-area: aside;
	}

/* ---------------------------- */


				/* MAIN de NOSOTROS */

.mainNosotros {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 4rem;
	max-width: 100%;
}

	.mainNosotros h1 {
		font-size: 2.9rem;
		text-align: center;
		padding: 3rem;
		margin-bottom: 4rem;
		text-transform: uppercase;
		background-color: #696969;
		color: #F8F2DB;
	}

	.mainNosotros h2 {
		font-size: 2rem;
		padding-bottom: 3rem;
		text-decoration: underline;
	}

	.mainNosotros p {
		text-align: justify;
	}

/* ---------------------------- */

				/* ASIDE de NOSOTROS */

.asideNosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}


	.asideNosotros div {
		border: 8px solid #8E7B38;
		margin: 25rem 0;
		margin-right: 2rem;
	}

		.asideNosotros iframe {
			 width: 30vw;
			 height: 45rem;
		}

/* ---------------------------- */
/* ---------------------------- */

															/* CONTACTO */

				/* Estructura GENERAL con GRID */

.mainContacto {
	background-image: url(../img/fondo/presence-ii.png);
	background-attachment: fixed;
	padding: 10rem 20rem 20rem 20rem;

}
	
	.mainContacto h1 {
		font-size: 2.9rem;
		padding: 3rem;
		text-transform: uppercase;
		background-color: #696969;
		color: #F8F2DB;	
	}

	.mainContacto h2 {
		font-size: 1.7rem;
		padding: 10rem 3rem;
		margin-top: -.5rem;
		background-color: rgba(183,183,183,0.3);
		color: #3F3F3F;	
	}

	.containerForm {
		margin-top: 15rem;
		border: 0.5rem solid #8E7B38;
		padding: 8rem;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(129,129,129,0.6) 92%);
	}

	.bntForm-propio {
	    color: #fff;
	    background: linear-gradient( #000000,#8E7B38);
	    border-color: #000000;
	    font-weight: bold;
	    font-size: 1.5rem;
	    padding: 1rem 8rem;
	    margin-top: 4rem;
	    border-radius: 4px;
	}

/* ---------------------------- */
/* ---------------------------- */

											/* MEDIA QUERIES */


@media (max-width: 500px) {

	/* CONTACTO */

	.mainContacto { 
		padding: 4rem 0.5rem;
	}

		.mainContacto h1 {
			font-size: 1.7rem;
		}

	.containerForm {
		padding: 6rem 1rem;
		margin-top: 5rem;
		margin-bottom: 6rem;
	}

	.bntForm-propio {
	    font-size: 1rem;
	    padding: 0.7rem 3.5rem;
	    margin-top: 4rem;
	    border-radius: 4px;
	}

}

@media (max-width: 620px) {

	/* PREGUNTAS FRECUENTES */

.faqMain {
	padding: 0rem;
}

	.faqMain h1{
		font-size: 2.4rem;
		text-align: center;
	}

	.faqMain h2 {
		margin: 0.5rem;
		font-size: 1.5rem;
	}
}


@media (min-width: 501px) and (max-width: 1100px) {

	/* CONTACTO */

	.mainContacto {
		padding: 4rem 7rem 7rem 7rem;
	}
}

@media (max-width: 1100px) {

	/* HEADER */

	.imgIndex {
		height: 40vh;
		width: 100vw;
		max-width: 100%;
	}

	/* INDEX */

	.art2Container {
		flex-direction: column;
	}

		.art2 .servicioContainer{
			width: 100vw;
		}

			.art2 .servicioContainer .servicio {
				width: 80vw;

			}

				.art2 .imgServicio img {	
					width: 70vw;
					height: auto;
					margin: 4rem 0rem;

				}


	/* NOSOTROS */

	.imgNosotros img {
		height: 45vh;
		width: 90%;
	}
	
}



@media only screen and (max-width: 1503px) {


	/* NOSOTROS */

	.nosotrosMadre {
		grid-template-columns: 1fr;
		grid-template-areas: "header"
							"main"
							"aside"
							"footer";
	}

	.asideNosotros div {
		margin: 5rem 0;
		margin-right: 0rem;
	}

	.mainNosotros h2 {
		font-size: 2rem;
		padding-bottom: 1rem;
		padding-top: 4rem;
	}	

		.asideNosotros iframe {
			 width: 80vw;
			 height: 45rem;
		}		
}




	



































